.box {
    border: 4px solid #333 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.box--large{
    width:270px;
    height:180px;
}

.box--medium {
    width:180px;
    height: 180px;
}

.box--small {
    width: 90px;
    height: 90px;
}

/* quando se hรก mais de um !important prevalese aquele que for mais especifico*/